# {{ ansible_managed }}

{% macro ini_values(ini_dict, indent='') -%}
{% for (item_name, item_value) in dict(ini_dict | dict2items | rejectattr('value', 'mapping') | list | items2dict).items() %}
{% if (item_value is iterable) and (item_value is not string) %}
{% for list_entry in item_value %}
{{ indent }}{{ item_name }} = {{ list_entry }}
{% endfor %}
{% elif item_value is sameas true %}
{{ indent }}{{ item_name }} = true
{% elif item_value is sameas false %}
{{ indent }}{{ item_name }} = false
{% elif item_value is number %}
{{ indent }}{{ item_name }} = {{ item_value }}
{% elif item_value is none %}
{{ indent }}{{ item_name }} = null
{% else %}
{{ indent }}{{ item_name }} = "{{ item_value }}"
{% endif %}
{% endfor %}

{%- endmacro %}

{% macro ini_section(section_name, section_dict, indent='') -%}
{{ indent }}[{{ section_name }}]
{{ indent }}{{ ini_values(section_dict, indent + '  ') }}

{% for (item_name, item_value) in dict(section_dict | dict2items | selectattr('value', 'mapping') | list | items2dict).items() %}
{{ indent }}{{ ini_section(item_name, item_value, indent=indent + '  ') }}
{% endfor %}

{%- endmacro %}

{{- ini_values(iac_vars, indent='') }}

{% for (item_name, item_value) in dict(iac_vars | dict2items | selectattr('value', 'mapping') | list | items2dict).items() -%}
{{ ini_section(item_name, item_value, indent='') }}
{%- endfor %}
